
.App {
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;

}

.tarifCard{
  border: 2px solid white;
  display: flex;
flex-direction: column;
}

.tarifName {
  background-color: #82a43a;
  margin-bottom: 5px;

}
.tarifSubtitle {
  font-size: 50px;
  display: block;
}
.tarifMain {
  background-color: #82a43a;
  margin-bottom: 5px;
}

.tarifSpeed {
  background-color: rgb(195, 195, 195);
  margin-bottom: 5px;
}
.tarifVolume {
  background-color: rgb(195, 195, 195);
}
