// .App {
//   margin: 2%;
//   text-align: center;
//   display: flex;
//   flex-direction: row;
// }

.tarifCard {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}

.tarifName {
  margin-bottom: 5px;
  color: aliceblue;
}
.tarifSubtitle {
  font-size: 50px;
  display: block;
  color: aliceblue;
}
.tarifMain {
  margin-bottom: 5px;
}

.tarifSpeed {
  margin-bottom: 5px;
}

.selected {
  border: 2px solid rgb(208, 214, 88);
  background-color: rgb(255, 255, 179);
  zoom: 1.5;
}
.blue {
  background-color: rgb(78, 176, 206);
}

.lightblue {
  background-color: rgb(119, 188, 209);
}

.green {
  background-color: rgb(78, 206, 127);
}

.lightgreen {
  background-color: rgb(111, 204, 147);
}

.red {
  background-color: rgb(206, 78, 78);
}

.lightred {
  background-color: rgb(206, 114, 114);
}

.gray {
  background-color: rgb(39, 40, 41);
}

.lightgray {
  background-color: rgb(70, 71, 73);
}
