.App {
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
 
    
}

.tarif-card {
    border: 2px solid white;
    display: flex;
flex-direction: column;
}

.tarif__name {
    background-color: #82a43a;
    margin-bottom: 5px;

}
.tarif__subtitle {
    font-size: 50px;
    display: block;
}
.tarif__main {
    background-color: #82a43a;
    margin-bottom: 5px;
}

.tarif__speed {
    background-color: rgb(195, 195, 195);
    margin-bottom: 5px;
}
.tarif__volume {
    background-color: rgb(195, 195, 195);
}